body {
  font-family: 'Ledger', Arial, sans-serif;
  font-weight: 100;
  background-color: #1b1a21;
  color: #f8f4e3;
  text-align: center;
}

#container {
  margin: 0 auto;
  width: 85%;
}

#nav-bar {
  float: left;
  position: relative;
  width: 100%;
  background-color: #1b1a21;
  border-bottom: 4px solid #17161c;
  margin-bottom: 20px;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  left: 50%;
}

#nav-bar ul li {
  padding: 20px;
  position: relative;
  float: left;
  right: 50%;
}

#nav-bar ul li a {
  list-style-type: none;
  color: #f8f4e3;
  text-decoration: none;
  padding: 0 50px;
  display: block;
}

#nav-bar ul li a:hover {
  text-decoration: underline;
}

#nav-bar ul li a.active {
  font-style: italic;
  text-decoration: underline;
  color: #ee2f25;
}

#main-title {
  margin: 0 auto;
  width: 70%;
  font-size: 46px;
  text-align: center;
}

.description {
  margin: 20px auto;
  width: 70%;
  font-size: 14px;
}

.title {
  font-size: 28px;
  margin: 10px auto;
  width: 70%;
}

.title:not(#intro) {
  text-decoration: underline;
}

.divider {
  height: 2px;
  background-color: #17161c;
  margin: 25px auto;
  width: 70%;
}

#name {
  font-size: 60px;
  font-family: 'MonteCarlo', Arial, cursive;
  line-height: 50px;
}

p:not(.description) {
  margin: 0 auto;
  width: 70%;
  font-size: 14px;
  line-height: 30px;
}

.ol-container, .ul-container {
  padding-left: 20%;
}

.ol-container li, .ul-container li {
  margin: 0 auto;
  width: 70%;
  padding-left: 8px;
  font-size: 14px;
  text-align: left;
}

#space {
  margin: 10px auto 5px;
}

strong {
  color: #ee2f25;
  font-weight: 600;
}

em {
  font-size: 10px;
}

.section {
  width: 70%;
  margin: 10px auto 20px;
}

iframe {
  margin-top: 20px;
}